.header {
  background-image: linear-gradient($color-primary-1, $color-primary-2);
  height: 80rem;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__logo {
    cursor: pointer;
    z-index: 20; //to make a positioned element to have hover effects

    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);

    & img {
      width: 20rem;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 3rem;

  &__links {
    display: flex;
    column-gap: 2rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__link {
    font-size: 1.8rem;
    font-weight: bold;

    transition: all 0.2s;

    &:hover {
      color: $color-black--light;
    }
  }

  &__auth {
    display: flex;
    column-gap: 2rem;
  }
}

.btn--login,
.btn--signup {
  cursor: pointer;
  color: $color-white;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;

  transition: all 0.2s;
}

.btn--login {
  background-color: $color-red-1;

  &:hover {
    background-color: $color-red--light;
  }
}

.btn--signup {
  background-color: $color-black;

  &:hover {
    background-color: $color-black--light;
  }
}

.icon-menu {
  display: none;
}

// Header content
.header__content {
  // transform: translateY(18rem);
  margin-top: 15rem;
  padding: 2rem;

  &-container {
    display: grid;
    place-items: center;

    background-image: url("../img/couch.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &--card {
    width: 30rem;
  }
}

@media only screen and(max-width: 75em) {
  //1200px

  .header__content {
    &--card {
      width: 26rem;
    }
  }
}

@media only screen and(max-width: 56.25em) {
  //900px
  .header {
    &__logo {
      top: 2rem;
      left: 3rem;
      transform: translateX(0);
    }

    .header__content {
      margin-top: 28rem;

      &-container {
        background-position: bottom;
      }

      &--card {
        width: 22rem;
      }
    }
  }

  .nav {
    position: absolute;
    top: 5rem;
    width: 100%;
    background-color: $color-primary-1;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and(max-width: 41.5em) {
  .header {
    &__logo {
      left: 3rem;
      transform: translateX(0);
    }
  }

  .header__content {
    margin-top: 26rem;

    &-container {
      background-position: bottom;
    }
  }

  .nav {
    top: -100rem;
    width: 100%;
    background-color: $color-primary-1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all 0.5s;

    &__links,
    &__auth {
      flex-direction: column;
      align-items: center;
      width: 60%;
    }

    &__link,
    .btn--login,
    .btn--signup {
      margin: 2rem;
      width: 100%;
    }
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 3rem;
    right: 2rem;

    height: 4rem;
    transition: all 0.4s;
  }

  .header__content {
    &--card {
      width: 22rem;
    }
  }
}

@media only screen and(max-width: 24em) {
  .header__content {
    &-container {
      background-position: bottom;
    }

    &--card {
      width: 18rem;
    }
  }
}

///Should be at the BOTTOM
.display_menu {
  top: 0rem;
  left: 0;
  height: 100vh;
  width: 100%;
}
