.section-CTA {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 8%;

  &__left {
    width: 45rem;

    & h3 {
      font-size: 3.6rem;
      font-weight: 700;
    }

    & p {
      line-height: 1.8;
      margin: 2rem 0;
    }
  }

  &__right {
    width: 55rem;
    position: relative;

    & span {
      position: absolute;
      bottom: 1rem;
      right: -4rem;

      z-index: -1;
      height: 32rem;
      width: 32rem;
      display: block;
      content: "";
      border-radius: 100%;
      border: 0.8rem solid $color-primary-1;
    }
  }
}

@media only screen and(max-width: 81.25em) {
  //1300px
  .section-CTA {
    padding: 4rem;
    gap: 1rem;
  }
}

@media only screen and(max-width: 68.75em) {
  // 1100px

  .section-CTA {
    padding: 4rem;
    gap: 1rem;

    &__left {
      width: 40rem;
    }

    &__right {
      width: 48rem;
      & img {
        width: 100%;
      }
    }
  }
}

@media only screen and(max-width: 62.5em) {
  // 1100px

  .section-CTA {
    &__left {
      width: 38rem;
    }

    &__right {
      width: 40rem;

      & span {
        height: 20rem;
        width: 20rem;
        right: -1rem;
      }
    }
  }
}

@media only screen and(max-width: 50em) {
  //800px
  .section-CTA {
    &__left {
      width: 30rem;
    }

    &__right {
      width: 36rem;
    }
  }
}

@media only screen and(max-width: 43.75em) {
  //700px
  .section-CTA {
    flex-direction: column-reverse;
    row-gap: 5rem;

    &__left {
      width: 40rem;
    }
  }
}

@media only screen and(max-width: 41.5em) {
  .section-CTA {
    &__left {
      width: 33rem;
    }

    &__right {
      width: 30rem;
    }
  }
}

@media only screen and(max-width: 24em) {
  .section-CTA {
    &__right {
      width: 30rem;
      align-self: baseline;
    }
  }
}
