.section-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  padding: 2rem 4rem;

  &__left {
    width: 40rem;

    display: grid;
    place-items: center;

    &-lamp {
      margin-bottom: 2rem;
    }

    &-card {
      max-width: 20rem;
      margin: 2rem;
    }
  }

  &__right {
    width: 48rem;
    padding: 2rem;
    border-radius: 1rem;

    border: 4px solid $color-black--light;

    & form {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 auto;

      & h3 {
        font-size: 3rem;
        margin-bottom: 2rem;
      }

      & label {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 600;

        transition: all 0.2s;
      }

      & .active-label {
        color: $color-primary-1;
      }

      & input,
      & textarea {
        outline: none;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        padding: 0.5rem;
        font-size: 1.6rem;
        border-radius: 6px;
        border: 4px solid $color-primary-1;
      }

      & button {
        border: none;
        font-size: 2rem;
      }
    }
  }
}

@media only screen and(max-width: 68.75em) {
  //1100px
  .section-contact {
    &__right {
      width: 40rem;
    }
  }
}

@media only screen and(max-width: 56.25em) {
  //900px
  .section-contact {
    padding: 2rem;
    &__left {
      width: 30rem;
    }

    &__right {
      width: 32rem;
    }
  }
}

@media only screen and(max-width: 31.5em) {
  .section-contact {
    &__right {
      width: 30rem;
      margin: 1rem 2rem;
    }
  }
}
