//////////////////////////
//// COLORS
$color-primary-1: #ca8a25;
$color-primary-2: #f9cb2f;

$color-white: #ffffff;

$color-red-1: #ef4444;
$color-red: #dd3e2b;
$color-red--light: #e65634;

$color-black: #000000;
$color-black--light: #332303;
